<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Αρχική</a></li>
        <li class="breadcrumb-item active" aria-current="">Αναζήτηση</li>
    </ol>
</nav>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-4" *ngFor="let result of globals.results">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top img-thumbnail" style="width: auto; height: 300px;" src="http://cdn.ebaumsworld.com/thumbs/2016/04/08/053554/84983750/small-anus.jpg" alt="Card image cap">
            <div class="card-body">
              <h3>{{result.title}}</h3>
              <span><h5>Συγγραφείς: </h5> {{result.writers}}</span> 
              <span><h5>Isbn: </h5> {{result.isbn}}</span> 
              <h5>Περιγραφή:</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>