<div *ngIf="page=='search'">
    <form (ngSubmit)="onSubmitsearch()" #s="ngForm">
        <input type="text" placeholder="Αναζήτηση βάση τίτλου,συγγραφέα,ISBN" ngModel name="name">
        <button type="submit">search</button>
    </form>
</div>
<div *ngIf="page=='searchresults'">
    <!-- search results select through them-->
</div>
<div *ngIf="page=='allbooks'">
    <!-- allbooks -->
</div>
<div *ngIf="page=='delivery'">
    <form (ngSubmit)="onSubmitdelivery()" #d="ngForm">
        <input type="text" placeholder="PIN" ngModel name="pin">
        <button type="submit">Submit</button>
    </form>
</div>
<div *ngIf="page=='deliverybooks'">
    <!-- books of the declaration of the student here -->
</div>