<div *ngIf="page=='declaration'">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Αρχική</a></li>
                <li class="breadcrumb-item active" aria-current="page">Δήλωση Συγγραμμάτων</li>
            </ol>
        </nav>
        <div id="accordion" class="mx-auto w-50 mt-5">
        
                <h3>Δήλωση Συγγραμμάτων</h3>
                <div class="card">
                    <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            Εξάμηνο 1ο
                            </button>
                        </h5>
                    </div>
                
                    <div id="collapseOne1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Εισαγωγή στην Πληροφορική
                            <div class="form-group">
                                <select class="form-control w-50" id="sel1" [(ngModel)]="book1">
                                    <option>Εισαγωγή στην Πληροφορικη</option>
                                    <option>Εισαγωγή στις Τηλεποικινωνίες</option>
                                </select>
                            </div>   
                        </div>
                        <div class="card-body">
                            Προγραμματισμός Συστήματος
                            <div class="form-group">
                                <select class="form-control w-50" id="sel1" [(ngModel)]="book2">
                                    <option>Προγραμματισμος Συστήματος μνημη</option>
                                    <option>Προγραμματισμος Συστήματος Σύστημα</option>
                                </select>
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="card">
                        <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                            Εξάμηνο 3ο
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseOne2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                ΥΣΒΔ
                                <div class="form-group">
                                    <select class="form-control w-50" id="sel1" [(ngModel)]="book3">
                                        <option>Υπολογιστικα Συστηματα βασεις</option>
                                        <option>Υπολογιστικα Συστηματα δεδομενα</option>
                                    </select>
                                </div>   
                            </div>
                            <div class="card-body">
                                Project
                                <div class="form-group">
                                    <select class="form-control w-50" id="sel1" [(ngModel)]="book4">
                                        <option>Project threads</option>
                                        <option>Project buckets</option>
                                    </select>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingOne3">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                            Εξάμηνο 5ο
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseOne3" class="collapse" aria-labelledby="headingOne3" data-parent="#accordion">
                            <div class="card-body">
                                Αρχιτεκτονικη
                                <div class="form-group">
                                    <select class="form-control w-50" id="sel1" [(ngModel)]="book5">
                                        <option>Αρχιτεκτονικη μνημης</option>
                                        <option>Αρχιτεκτονικη CPU</option>
                                    </select>
                                </div>   
                            </div>
                            <div class="card-body">
                                ΤΕΧΝΗΤΗ ΝΟΗΜΟΣΥΝΗ
                                <div class="form-group">
                                    <select class="form-control w-50" id="sel1" [(ngModel)]="book6">
                                        <option>Τεχνητη Νοημοσύνη Πακμαν</option>
                                        <option>Τεχνητη νοημοσύνη κοριντορ</option>
                                    </select>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                            Εξάμηνο 7ο
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseOne4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            ΕΠΙΚΟΙΝΩΝΙΑ ΑΝΘΡΩΠΟΥ ΜΗΧΑΝΗΣ
                            <div class="form-group">
                                <select class="form-control w-50" id="sel1" [(ngModel)]="book7">
                                    <option>ΕΑΜ ιστοσελίδες</option>
                                    <option>ΕΑΜ εφαρμογες</option>
                                </select>
                            </div>   
                        </div>
                        </div>
                    </div>
                <button type="button" class="btn btn-primary float-right mt-1" (click)="onDeclarationConfirm()">Επιβεβαίωση</button>
        </div>
</div>

<div *ngIf="page=='confirmation'">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Αρχική</a></li>
            <li class="breadcrumb-item active" aria-current="page">Επιβεβαίωση Δήλωσης</li>
        </ol>
    </nav>
    <div id="accordion" class="mx-auto w-50 mt-5">
        <h3>Επιβεβαίωση Δήλωσης</h3>
        <div class="card">
            <div class="card-header p-0" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Δηλωμένα Συγγράμματα - Κωδικός Παραλαβής: 
                </button>
                <b>{{user.pin}}</b>
            </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let book of declaredBooks">
                        {{book.title}}
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="page=='exchange'">
    student exchange
</div>
<div *ngIf="page=='history'">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Αρχική</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ιστορικό Δηλωμένων Συγγραμμάτων</li>
        </ol>
    </nav>
    <div id="accordion" class="mx-auto w-50 mt-5">
        <h3>Ιστορικό Δηλωμένων Συγγραμμάτων</h3>
        <div class="card">
            <div class="card-header p-0" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Δηλωμένα Συγγράμματα:
                </button>
            </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let book of declaredBooks">
                        {{book.title}}
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="page=='info'">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Αρχική</a></li>
            <li class="breadcrumb-item active" aria-current="page">Χρήσιμες Πληροφορίες</li>
        </ol>
    </nav>
	 <div id="accordion" class="mx-auto w-50 mt-5">
		<div class="card info-box">
                    <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            Πληροφορίες για δηλώσεις συγγραμάτων
                            </button>
                        </h5>
                    </div>
                
                    <div id="collapseOne1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h3>Προαπαιτούμενα δηλώσεων συγγραμάτων.</h3>
                            <div class="form-group">
                            	<p>
								Για την δήλωση συγγραμάτων είναι απαραίτητο να πληρούνται οι εξής απαιτήσεις :
							</p>
								<ul>
									<li>Να έχετε μέσο όρο στο προηγούμενο εξάμηνο >=8.5</li>
									<li>Να έχετε δημοσιεύσει τουλάχιστον 3 papers πάνω σε καινούριο πεδίο</li>
								</ul>

                            </div>   
                        </div>
                    </div>
                </div>
                <div class="card  info-box">
                        <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                            Προθεσμίες
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseOne2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                               <h3> Προθεσμία Δήλωσης Συγγραμάτων</h3>
                               <div class = "form-group">
                               	<p>
                               		Οι δηλώσεις συγγραμάτων θα ολοκληρωθούν Παρασκευή 18 Ιανουαρίου 2019
                               	</p>
								<h3> Προθεσμία Παραλαβής Συγγραμάτων</h3>
                                <div class="form-group">
									<p>
										Η παραλαβή συγγραμάτων θα ολοκληρωθεί Σάββατο 19 Ιανουρίου 2019
									</p>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="card  info-box">
                        <div class="card-header p-0" id="headingOne3">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                           	Πληροφορίες για σημεία διανομής
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseOne3" class="collapse" aria-labelledby="headingOne3" data-parent="#accordion">
                            <div class="card-body">
                                <h3>Σημεία Διανομής</h3>
                                <div class="form-group">
									Τα σημεία διανομής μπορείτε να τα βρείτε στην μπάρα πλοήγησης,στην κορυφή της σελίδας,κάτω από τον σύνδεσμο Σημεία Διανομής.
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
</div>