<div *ngIf="page=='declaration'">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Αρχική</a></li>
                <li class="breadcrumb-item active" aria-current="page">Δήλωση Συγγραμμάτων</li>
            </ol>
        </nav>
        <div id="accordion" class="mx-auto w-50 mt-5">
        
                <h3>Δήλωση Συγγραμμάτων</h3>
                <div class="card">
                    <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            Εξάμηνο 1ο
                            </button>
                        </h5>
                    </div>
                
                    <div id="collapseOne1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            ΔΙΑΚΡΙΤΑ ΜΑΘΗΜΑΤΙΚΑ
                            <div class="form-group">
                                <select class="form-control w-50" id="sel1" [(ngModel)]="book1">
                                    <option value=''>Επιλέξτε σύγγραμμα</option>
                                    <option>Διακριτά μαθηματικά και εφαρμογές τους</option>
                                    <option>ΣΤΟΙΧΕΙΑ ΔΙΑΚΡΙΤΩΝ ΜΑΘΗΜΑΤΙΚΩΝ</option>
                                </select>
                            </div>   
                        </div>
                        <div class="card-body">
                            ΕΙΣΑΓΩΓΗ ΣΤΟΝ ΠΡΟΓΡΑΜΜΑΤΙΣΜΟ
                            <div class="form-group">
                                <select class="form-control w-50" id="sel1" [(ngModel)]="book2">
                                    <option>Επιλέξτε σύγγραμμα</option>
                                    <option>C Από τη Θεωρία στην Εφαρμογή</option>
                                    <option>Η ΓΛΩΣΣΑ C ΣΕ ΒΑΘΟΣ</option>
                                    <option>Εισαγωγή στον Προγραμματισμό με την C</option>
                                </select>
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="card">
                        <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                            Εξάμηνο 3ο
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseOne2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                ΑΝΤΙΚΕΙΜΕΝΟΣΤΡΑΦΗΣ ΠΡΟΓΡΑΜΜΑΤΙΣΜΟΣ
                                <div class="form-group">
                                    <select class="form-control w-50" id="sel1" [(ngModel)]="book3">
                                        <option>Επιλέξτε σύγγραμμα</option>
                                        <option>Τρόπος Σκέψης σε C++</option>
                                        <option>Η ΓΛΩΣΣΑ ΠΡΟΓΡΑΜΜΑΤΙΣΜΟΥ C++</option>
                                    </select>
                                </div>   
                            </div>
                            <div class="card-body">
                                ΠΙΘΑΝΟΤΗΤΕΣ ΚΑΙ ΣΤΟΙΧΕΙΑ ΣΤΑΤΙΣΤΙΚΗΣ
                                <div class="form-group">
                                    <select class="form-control w-50" id="sel1" [(ngModel)]="book4">
                                        <option>Επιλέξτε σύγγραμμα</option>
                                        <option>Εισαγωγή στις Πιθανότητες και τη Στατιστική</option>
                                        <option>ΕΙΣΑΓΩΓΗ ΣΤΗ ΘΕΩΡΙΑ ΠΙΘΑΝΟΤΗΤΩΝ</option>
                                    </select>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingOne3">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                            Εξάμηνο 5ο
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseOne3" class="collapse" aria-labelledby="headingOne3" data-parent="#accordion">
                            <div class="card-body">
                                ΛΕΙΤΟΥΡΓΙΚΑ ΣΥΣΤΗΜΑΤΑ
                                <div class="form-group">
                                    <select class="form-control w-50" id="sel1" [(ngModel)]="book5">
                                        <option>Επιλέξτε σύγγραμμα</option>
                                        <option>Λειτουργικά Συστήματα 9η Εκδ.</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>   
                            </div>
                            <div class="card-body">
                                ΤΕΧΝΗΤΗ ΝΟΗΜΟΣΥΝΗ
                                <div class="form-group">
                                    <select class="form-control w-50" id="sel1" [(ngModel)]="book6">
                                        <option>Επιλέξτε σύγγραμμα</option>
                                        <option>ΤΕΧΝΗΤΗ ΝΟΗΜΟΣΥΝΗ</option>
                                        <option>ΤΕΧΝΗΤΗ ΝΟΗΜΟΣΥΝΗ: ΜΙΑ ΣΥΓΧΡΟΝΗ ΠΡΟΣΕΓΓΙΣΗ</option>
                                    </select>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                            Εξάμηνο 7ο
                            </button>
                        </h5>
                        </div>
                    
                        <div id="collapseOne4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            ΕΠΙΚΟΙΝΩΝΙΑ ΑΝΘΡΩΠΟΥ ΜΗΧΑΝΗΣ
                            <div class="form-group">
                                <select class="form-control w-50" id="sel1" [(ngModel)]="book7">
                                    <option>Επιλέξτε σύγγραμμα</option>
                                    <option>ΕΙΣΑΓΩΓΗ ΣΤΗΝ ΑΛΛΗΛΕΠΙΔΡΑΣΗ ΑΝΘΡΩΠΟΥ-ΥΠΟΛΟΓΙΣΤΗ</option>
                                    <option>Σχεδίαση Διεπαφής Χρήστη, 6η Εκδοση</option>
                                </select>
                            </div>   
                        </div>
                        </div>
                    </div>
                <button type="button" class="btn float-right mt-1" (click)="onDeclarationConfirm()">Επιβεβαίωση</button>
        </div>
</div>

<div *ngIf="page=='confirmation'">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Αρχική</a></li>
            <li class="breadcrumb-item active" aria-current="page">Επιβεβαίωση Δήλωσης</li>
        </ol>
    </nav>
    <div id="accordion" class="mx-auto w-50 mt-5">
        <h3>Επιβεβαίωση Δήλωσης</h3>
        <div class="card">
            <div class="card-header p-0" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Δηλωμένα Συγγράμματα - Κωδικός Παραλαβής: 
                </button>
                <b>{{user.pin}}</b>
            </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let book of declaredBooks">
                        {{book.title}}
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="page=='exchange'">
    student exchange
</div>
<div *ngIf="page=='history'">
    student history done
</div>
<div *ngIf="page=='info'">
    student info
</div>